.autopay-image-rotator {
  &__image {
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 1s;

    &.active {
      opacity: 1;
      z-index: 1; /* hides initial transition on load */
    }
  }
}