<div class="blue-media-banner">
    <div class="bm-margin-bottom">
        {{ $t('BlueMediaPayment.testModeBanner.testModeLine1') }}<br/>
        {{ $t('BlueMediaPayment.testModeBanner.testModeLine2') }}

        <a class="bm-link"
           :href="$t('BlueMediaPayment.testModeBanner.contactUsLink')"
           target="_blank"
           rel="noopener"
        >
            {{ $t('BlueMediaPayment.testModeBanner.contactUsLinkText') }}
        </a>
    </div>
</div>